<div class="col-lg-3" xmlns="http://www.w3.org/1999/html">
  <div class="product_item">
      <div>
          <!--a href="{% url 'product' item.product.id %}"-->
            <img src="{{ item.product.img.url }}" class="img-responsive"/>
          <!--/a-->
          <!--img src="img/f3ea611f5902.jpg" class="img-responsive"/-->
      </div>
      {% if item.product.discount %}
          <div class="discount-container">
              <span>{{ item.product.discount }} %</span>
          </div>
      {% endif %}
      <h4>
          <a href="{% url 'product' item.product.id %}">
              {{ item.product.name }}
          </a>
      </h4>
      <div>
          {{ item.product.price }} BYN
      </div>
      <p>
          {{ item.product.description|truncatechars_html:70}}
      </p>
      <p class="add-to-card-btn">
          <button class="btn btn-success">Добавить в карзину</button>
      </p>
  </div>
</div>